/* Decent Defaults */

/* variables */
:root {
  --blue-black: #1e223b;
  --cream-white: #fdf8ed;
  --bright-green: #91fdcf;
  --money-green: #00b289;
  --dark-green: #078366;
  --electic-blue: #1fe5ff;
  --bright-pink: #ff1f75;

  --font: Vollkorn;
  --font-style-italic: italic;
  --font-style-normal: normal;
  --font-weight-black: 900px;
  --font-weight-bold: bold;
  --font-weight-normal: normal;

  --Mobile-h1-size-and-Desktop-quote-size: 40px;
  --Mobile-h2-size: 35px;
  --Mobile-h3-size: 25px;
  --Mobile-body-size: 15px;
  --Mobile-quote-txt-size: 18px;

  --Desktop-h1-size: 60px;
  --Desktop-h2-size: 50px;
  --Desktop-h3-size: 45px;
  --Desktop-navbar-size: 48px;
  --Desktop-body-size: 20px;

  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-25: 25px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-40: 40px;
  --unnamed-line-spacing-50: 50px;
  --unnamed-line-spacing-56: 56px;
  --unnamed-line-spacing-67: 67px;
  --unnamed-line-spacing-75: 75px;
  --unnamed-line-spacing-95: 95px;
}

/* Character Styles 
.mobile-h1 {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-black);
  font-size: var(--Mobile-h1-size-and-Desktop-quote-size);
  line-height: var(--unnamed-line-spacing-50);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--cream-white);
  }
  .mobile-h2 {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--Mobile-h2-size);
  line-height: var(--unnamed-line-spacing-40);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--bright-green);
  }
  .mobile-h2 {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--Mobile-h2-size);
  line-height: var(--unnamed-line-spacing-40);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--dark-green);
  }
  .mobile-h3 {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--Mobile-h3-size);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--cream-white);
  }
  .mobile-body-text {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var( --Mobile-body-size);
  line-height: var(--unnamed-line-spacing-25);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--cream-white);
  }
  .mobile-body-text {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var( --Mobile-body-size);
  line-height: var(--unnamed-line-spacing-25);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--blue-black);
  }
  .mobile-quote-text {
  font-family: var(--font);
  font-style: var(--font-style-italic);
  font-weight: var(--font-weight-bold);
  font-size: var( --Mobile-quote-txt-size);
  line-height: var(--unnamed-line-spacing-25);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--bright-pink);
  }
  .desktop-h1 {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-black);
  font-size: var(  --Desktop-h1-size);
  line-height: var(--unnamed-line-spacing-95);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--cream-white);
  }
  .desktop-h2 {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var( --Desktop-h2-size);
  line-height: var(--unnamed-line-spacing-75);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--dark-green);
  }
  .desktop-h2 {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var( --Desktop-h2-size);
  line-height: var(--unnamed-line-spacing-75);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--bright-green);
  }
  .desktop-h3 {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--Desktop-h3-size);
  line-height: var(--unnamed-line-spacing-75);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--cream-white);
  }
  .desktop-body-text {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--Desktop-body-size);
  line-height: var(--unnamed-line-spacing-40);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--cream-white);
  }
  .desktop-body-text {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--Desktop-body-size);
  line-height: var(--unnamed-line-spacing-40);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--blue-black);
  }
  .desktop-navbar-font {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--Desktop-navbar-size);
  line-height: var(--unnamed-line-spacing-67);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--cream-white);
  }
  .desktop-quote-text {
  font-family: var(--font);
  font-style: var(--font-style-italic);
  font-weight: var(--font-weight-bold);
  font-size: var(--Mobile-h1-size-and-Desktop-quote-size);
  line-height: var(--unnamed-line-spacing-56);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--bright-pink);
*/

h1 {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: 900;
  color: var(--cream-white);
}
h2 {
  font-weight: 500;
  font-family: var(--font);
  font-style: var(--font-style-normal);
}
h3 {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  font-weight: 600;
  color: var(--cream-white);
}

body {
  font-family: var(--font);
  font-style: var(--font-style-normal);
  color: var(--cream-white);
  font-weight: 400;
  background-color: var(--blue-black);
  margin: 0;
}
h4 {
  font-family: var(--font);
  font-style: var(--font-style-italic);
  font-weight: 600;
  color: var(--bright-pink);
}
nav {
  background-color: var(--blue-black) opacity(50%);
  width: 100%;
}
nav.navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: fixed;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.15);
  min-height: 2.25rem;
  backdrop-filter: blur(2px) brightness(20%);
  justify-content: flex-end;
}
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.nytlogo {
  font-style: var(--font-style-italic);
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: 1rem;
}
.navbar button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: flex;
}
/* buttons */
button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 0.25rem solid var(--bright-green);
  background: #1b3041 0% 0% no-repeat padding-box;
  border-radius: 53px;
  opacity: 1;
  padding: .5em 1em;
}
Button a {
  color: var(--bright-pink);
  font-style: var(--font-style-italic);
}
button a:hover {
  color: var(--cream-white);
}
/* links */
a {
  color: var(--cream-white);
  font: var(--font);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: var(--bright-green);
}

/* selected link */
a:active {
  color: var(--blue-black);
}
.moneytree {
  padding: 5rem;
  max-width: 700px;
}
.moneytree h1 {
  max-width: 400px;
}
.moneytree h1 span {
  color: var(--dark-green);
}
.moneytree h3 span:first-child {
  color: var(--dark-green);
}
.moneytree span:nth-of-type(2) {
  color: var(--bright-green);
}
.moneytree h3 {
  max-width: 450px;
}
.gradient {
  background-image: linear-gradient(red, yellow);
}
.ProgramCards {
  padding: 5rem;
}

.cardstitle {
  padding: 5rem;
}

.ProgramCards h3 {
  margin: 1rem;
}

div.NYCCard {
  text-align: center;
  border-radius: 2rem;
  background-color: var(--dark-green);
  max-width: 500px;
  overflow: hidden;
  max-height: 400px;
}
div.NYCCard:hover {
  transform: scale(1.15);
}
div.NYCCard:active {
  transform: scale(50%);
}
.NYPicture {
  width: 100%;
  height: 100%;
}
div.MECard {
  text-align: center;
  border-radius: 2rem;
  background-color: var(--dark-green);
  max-width: 500px;
  overflow: hidden;
  max-height: 400px;
}
.MEPicture {
  width: 100%;
  height: 100%;
}
div.CACard {
  text-align: center;
  border-radius: 2rem;
  background-color: var(--dark-green);
  max-width: 500px;
  overflow: hidden;
  max-height: 400px;
}
.CAPicture {
  width: 100%;
  height: 100%;
}
div.COCard {
  text-align: center;
  border-radius: 2rem;
  background-color: var(--dark-green);
  max-width: 500px;
  overflow: hidden;
  max-height: 400px;
}
.COPicture {
  width: 100%;
  height: 100%;
}
div.NECard {
  text-align: center;
  border-radius: 2rem;
  background-color: var(--dark-green);
  max-width: 500px;
  overflow: hidden;
  max-height: 400px;
}
.NEPicture {
  width: 100%;
  height: 100%;
}
div.PACard {
  text-align: center;
  border-radius: 2rem;
  background-color: var(--dark-green);
  max-width: 500px;
  overflow: hidden;
  max-height: 400px;
}
.PAPicture {
  width: 100%;
  height: 100%;
}

.Watchdirect {
  padding: 5rem;
}

.Watchdirect img {
  width: auto;
  height: auto;
}
footer {
  background-color: darkslategrey;
  padding: 3rem;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}
/* Mobile Only */
@media (max-width: 39.9375em) {
  h1 {
    font-size: var(--Mobile-h1-size-and-Desktop-quote-size);
    line-height: var(--unnamed-line-spacing-50);
    letter-spacing: var(--unnamed-character-spacing-0);
  }
  h2 {
    font-size: var(--Mobile-h2-size);
    line-height: var(--unnamed-line-spacing-40);
    letter-spacing: var(--unnamed-character-spacing-0);
  }
  h3 {
    font-size: var(--Mobile-h3-size);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
  }
  body {
    font-size: var(--Mobile-body-size);
    line-height: var(--unnamed-line-spacing-25);
    letter-spacing: var(--unnamed-character-spacing-0);
  }
  h4 {
    font-size: var(--Mobile-quote-txt-size);
    line-height: var(--unnamed-line-spacing-25);
    letter-spacing: var(--unnamed-character-spacing-0);
  }
  .navbar {
    display: flex;
    flex-direction: row-reverse;
  }

  .navbar ul {
    display: none;
    background: #efefef;
    padding: 1rem;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .navbar ul.active {
    display: flex;
  }
  svg {
    color: var(--bright-pink);
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
  }
  svg:hover {
    color: var(--electic-blue)
  }

  svg:active {
    color:var(--bright-green)
  }
  .nytlogo {
    padding: 0.25rem;
  }
  .moneytree {
    max-width: 450px;
  }
  .moneytree h1 {
    max-width: 600px;
  }
  .moneytree h3 {
    max-width: 250px;
  }
}

/* desktop only */
@media (min-width: 40em) {
  h1 {
    font-size: var(--Desktop-h1-size);
    line-height: 1em;
    letter-spacing: var(--unnamed-character-spacing-0);
  }
  h2 {
    font-size: var(--Desktop-h2-size);
    line-height: 1em;
    letter-spacing: var(--unnamed-character-spacing-0);
  }
  h3 {
    font-size: var(--Desktop-h3-size);
    line-height: 1em;
    letter-spacing: var(--unnamed-character-spacing-0);
  }
  body {
    font-size: var(--Desktop-body-size);
  }
  h4 {
    font-size: var(--Mobile-h1-size-and-Desktop-quote-size);
    line-height: var(--unnamed-line-spacing-56);
    letter-spacing: var(--unnamed-character-spacing-0);
  }
  .navbar button {
    display: none;
  }
  .navbar ul {
    display: flex;
    gap: 1rem;
  }
  section.ProgramCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5rem;
    row-gap: 1rem;
  }
  div.NYCCard {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  div.MECard {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  div.CACard {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  div.COCard {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  div.NECard {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  div.PACard {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
